@model SportsTestApp1609.Models.UserTestMapping

@{
    ViewData["Title"] = "Edit";
}

<h3 style="text-align:center">CHAGNE DATA FOR ATHLETE</h3>

<hr />

<div class="row" style="width: 350px;
    margin: 0 auto;">
    <div class="col-md-4">
        <form asp-action="Edit" style="text-align: center; width: 350px;
    margin: 0 auto;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UId" class="control-label">Name</label>
                <select asp-for="UId" class="form-control" asp-items="ViewBag.UId"></select>
                <span asp-validation-for="UId" class="text-danger"></span>
            </div>
            <div class="form-group @TempData["dist"]">
                <label asp-for="Distance" class="control-label"></label>
                <input asp-for="Distance" class="form-control" />
                <span asp-validation-for="Distance" class="text-danger"></span>
            </div>
            <div class="form-group @TempData["time"]">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group " @TempData["dist"]>
                <label asp-for="FitnessRating" class="control-label"></label>
                <input asp-for="FitnessRating" class="form-control" disabled />
                <span asp-validation-for="FitnessRating" class="text-danger"></span>
            </div>
            <div class="form-group hidden">
                <label asp-for="TId" class="control-label"></label>
                <select asp-for="TId" class="form-control" asp-items="ViewBag.TId"></select>
                <span asp-validation-for="TId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div>
                <a asp-controller="Tests" asp-action="Details" asp-route-id=@Model.TId>Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
